{{- $thumb := "" -}}
{{- with partial "featured-image-resource.html" . -}}
  {{- if or (eq .MediaType.SubType "gif") (eq .MediaType.SubType "svg") -}}
    {{- $thumb = .Permalink -}}
  {{- else -}}
    {{- with .Fill "720x540" -}}
      {{- $thumb = .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if eq $thumb "" -}}
  {{- if eq .Section "posts" -}}
    {{- $rawKind := .Params.post_kind | default "article" -}}
    {{- $kind := cond (eq $rawKind "conference-recap") "conference" $rawKind -}}
    {{- $fallback := "images/post-kind-article.png" -}}
    {{- if eq $kind "tutorial" -}}
      {{- $fallback = "images/post-kind-tutorial.png" -}}
    {{- else if eq $kind "conference" -}}
      {{- $fallback = "images/post-kind-conference.png" -}}
    {{- end -}}
    {{- $thumb = $fallback | relURL -}}
  {{- else if eq .Section "projects" -}}
    {{- $thumb = "images/post-kind-project.png" | relURL -}}
  {{- else if eq .Section "recipes" -}}
    {{- $thumb = "images/post-kind-recipe.png" | relURL -}}
  {{- else -}}
    {{- $thumb = "images/post-kind-article.png" | relURL -}}
  {{- end -}}
{{- end -}}
{{- return $thumb -}}
