hugo/content/posts/graphquon-2025-university-of-toronto/graphquon-final.pptx filter=lfs diff=lfs merge=lfs -text
hugo/content/posts/ai-figurines-3d-printing/make-figurines-using-ai-for-3d-printing.pptx filter=lfs diff=lfs merge=lfs -text
