%-------------------------------------------------------------------------------
% SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{ {{- section_title -}} }

%-------------------------------------------------------------------------------
% CONTENT
%-------------------------------------------------------------------------------
\begin{cvskills}

{% for group in groups -%}
%---------------------------------------------------------
\cvskill
{ {{- group.category -}} } % Category
{ {{- group.line -}} } % Skills

{% endfor -%}
\end{cvskills}
